.col-sm-6 {
    text-align: center;
    min-width: 350px;
}

.col-xs-12 {
    text-align: center;
    min-width: 350px;
    padding: 10px !important;
}

.navbar {
   min-width: 330px;
   font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    color: white !important;
    font-size: 22pt  !important;
    font-family: 'Sansita One', cursive !important;
}

body {
    padding:0px;
    margin:0px;
}

h3 {
     font-family: 'Sansita One', cursive !important;
}


.navbar .signIn {
    position: absolute;
    right: 10px;
}


.selPollTitle, .pollsHeader {
    margin: 0px auto;
    margin-bottom: 15px;
    height: 50px;
    background: #337ab7;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    color: white;
}

#selectedPoll {
    
    display: block;
    margin: 20px auto;
    position: relative;
    padding: 20px;
   
}

.myPoll {
    color: #337ab7;
    font-size: 14pt;
    padding: 30px;
    display: inline-block;
    
}


#userPolls .myPoll :hover, #publicPolls li :focus{
    background: white;
}

#userPolls li button :hover{
    background: blue;
}



#selectedPoll span {
    margin-left: 20px;
    margin-top: auto;
    float: right;
    background: red;
}

#selectedPoll button {
    
    text-align: left;
    margin-bottom: 20px;
    white-space: normal;
    font-size: 14pt;
    background: #eee;
    color: #337ab7;
}


#selectedPoll button:hover {
    background: #337ab7;
    color: white;
}

#selectedPoll button:hover span{
    transform: scale(2);
    background: green;
    color: white;
}


.option, .myPoll {
    font-family: 'Open Sans', sans-serif;
}


#selectedPoll p {
    padding-top: 15px;
    text-align: center;
}



#suggestOption {
    margin: 30px auto;
    display: block;
    text-align: center;
    width: 90%;
    min-width: 350px;
    display: none;
}



#sugOption, #tick {
    height: 80px;
    text-align: center;
}


#googleChart {
    background-color: #eee;
    max-width: 350px;
    margin: 40px auto;
}



#pollDisplayed {
   
}


#pollList {
    background: #eee;
}

/*-----------------------------*/


#suggestions li {
    list-style-type: none;
}

.noteButtons {
    background: #eee;
    padding: 20px;
}

.noteButtons p {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    background: white;
    padding:15px;
    word-wrap: break-word;
}

.noteButtons button {
    margin: 10px;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #337ab7;
    color: white;
}



/*-----------------------------*/



/*----------------------------*/

.pollButtons {
    margin-bottom: 20px;
    }
    
    
#suggestions {
    width:95%;
    margin: 0 auto;
    display: block;
}
    
#tick {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #337ab7;
    color: white;
}    


.glyphicon-plus {
    border: #337ab7 1px solid;
    padding: 10px;
    border-radius: 100%;
    background:  #337ab7;
    color: white;
    margin-bottom: 10px;
}

.glyphicon-minus {
    border: #337ab7 1px solid;
    padding: 10px;
    border-radius: 100%;
    background:  #337ab7;
    color: white;
    margin-top: 10px;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #337ab7 !important;
    background-color: white !important;
}